*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ロード　*/
a{
    text-decoration: none;
    color: aquamarine;
}

   s
*::after, *::before {
    box-sizing: inherit;
  }

/* ヘッダを上に固定 */
header{
    padding: 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999; /*重なりを調整*/
    display: flex;
    justify-content: center;
    flex-direction: column;
}
  
header ul {
    display: flex;
    justify-content: flex-end; /* 右寄せに変更 */
    align-items: center;
    padding: 0 3px;
    gap: 16px;
}
  
header ul li a {
    color: #42e1a8;
    font-size: 20px;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    transition: all 0.3s;
}
  
header li {
    display: flex;
}

.PROFILE h1{
    padding-top: 10rem;
    font-size: 4.5rem;
    text-align: center;
}

.PROFILE h2{
    padding-top: 10rem;
    font-size: 2.5em;
    text-align: center;
}

.PROFILE h3{
    font-size: 2rem;
    text-align: center;
}

.PROFILE h4{
    font-size: 1.5rem;
    text-align: center;
}

.WORKS a{
    padding: 1rem 2rem;
    background-color: #42e1a8;
}

.WORKS h1{
    font-size: 2em;
    padding-top: 10rem;
    text-align: center;
}

.WORKS h2{
    padding-top: 3rem;
    padding-bottom: 10px;
    font-size: 2em;
    text-align: center;
    color: black;
}

.WORKS a{
    padding: 1rem 2rem;
    background-color: #42e1a8;
    color: black;
}


.WORKS h3{
    font-size: 1.5em;
    text-align: center;
}


p{
    padding-top: 20px;
    font-size: 1.5em;
    text-align: center;
}

img{
  margin: auto;
  display: block;      
}

footer{
    margin: 0;
    padding-top: 10em;
    padding-bottom: 3rem;
    text-align: center;
    display: flex;
    align-items: center; /* 垂直方向中央に揃える */
    justify-content: center; /* 水平方向中央に揃る*/
    width: 100%;
}