*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

/* ヘッダを上に固定 */
header{
    padding: 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999; /*重なりを調整*/
    display: flex;
    justify-content: center;
    flex-direction: column;
}
  
header ul {
    /* list-style: none; */
    display: flex;
    justify-content: flex-end; /* 右寄せに変更 */
    align-items: center;
    padding: 0 3px;
    gap: 16px;
    /* margin-top: 16px; */
}
  
header ul li a {
    color: #42e1a8;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    padding: 0.5rem 1.5rem;
    transition: all 0.3s;
}
  
  header li {
    display: flex;
}


h1{
    padding-top: 10rem;
    text-align: center;
}

h2{
    text-align: center;
}

.forms {
    position:relative;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
  
footer{
    margin: 0;
    padding-bottom: 3rem;
    text-align: center;
    display: flex;
    align-items: center; /* 垂直方向中央に揃える */
    justify-content: center; /* 水平方向中央に揃る*/
    width: 100%;
}